.career-container{
  margin-top: 8%;
}

.values-conatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .individual-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 50px 0px;
    height: 300px;
    width: 230px;
    .value-title{
      text-align: center;
    }
    svg{
      width: 100%;
      height: 100%;
    }

  }

  .blue-value{
    border: 1px solid $blue;
    p{
      color: $yellow;
      font-size: 1.8rem;
    }
  }
  .yellow-value{
    border: 1px solid $yellow;
    p{
      color: $blue;
      font-size: 1.8rem;
    }
  }

}
.value-description-holder{
  display: flex;
  justify-content: center;
  .value-para{
    width: 80%;
    margin: 5%;
    text-align: justify;
    font-style: italic;
  }
}




.jobs-display{
  display: flex;
}
.jobs-conatiner{
  display: flex;
  width: 60%;
  .jobs-holder{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.jobs-photo-container{
  width: 40%;
  display: flex;
  justify-content: center;

  .jobs-photo{
    margin: auto;
    img{
    border-radius: 0px 0px 50px 0px;
      width: 80%;
    }
  }
}














