.career-container{
  margin-top: 6%;
  background-color: $white;
}

.values-conatiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;

  .individual-value{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 50px 0px;
    height: 300px;
    width: 230px;
    .value-title{
      text-align: center;
    }
    svg{
      width: 100%;
      height: 100%;
    }

  }

  .blue-value{
    border: 1px solid $blue;
    p{
      color: $yellow;
      font-size: 1.8rem;
    }
  }
  .yellow-value{
    border: 1px solid $yellow;
    p{
      color: $blue;
      font-size: 1.8rem;
    }
  }

}
.value-description-holder{
  display: flex;
  justify-content: center;
  .value-para{
    width: 80%;
    margin: 5%;
    text-align: justify;
    font-style: italic;
  }
}




.jobs-display{
  display: flex;
}
.jobs-conatiner{
  display: flex;
  width: 60%;
  .jobs-holder{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.photo-container{
  width: 40%;
  display: flex;
  justify-content: center;

  .displayed-photo{
    margin: auto;
    img{
      border-radius: 0px 0px 50px 0px;
      width: 80%;
    }
  }
}


.cv-para{
  text-align: center;
  p{
    font-size: 14px;
    font-style: italic;

  }
}

.cv-content-holder{
  display: flex;
  justify-content: space-evenly;
}

.cv-displayed-photo{
  display: flex;
  justify-content: center;
  img{
    width: 80%;
    margin: 5%;
    border-radius: 0px 0px 50px 0px;
  }
}

.cv-from-holder{
  width: 50%;
  display: flex;
}

.cv-from{
  width: 50%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .values-conatiner .individual-value {
    height: 170px;
    width: 190px;
    justify-content: space-between;
    margin: 2%;
    .value-svg{
      display: flex;
      justify-content: center;
    }
     svg {
      width: 63%;
      height: 100%;
    }
  }

  .photo-container .displayed-photo {
    display: none;
  }

  .jobs-conatiner {
    justify-content: center;
    width: 100%;
    margin-left: 8%;
  }

  .cv-content-holder {
    flex-direction: column;
  }
  .cv-displayed-photo img {
    height: 100%;
  }
  .photo-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .cv-from-holder {
    width: 100%;
    display: flex;
  }
  .cv-from {
    width: 75%;
    margin-top: 8%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {

}


// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .values-conatiner {
    margin: auto;
    width: 80%;
  }
  .values-conatiner .individual-value {
    margin: 2%;
  }
  .photo-container .displayed-photo {
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      width: 90%;
      height: 470px;
      object-fit: cover;
    }
  }

  .cv-displayed-photo img {
    object-fit: cover;
    height: 60%;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .jobs-conatiner{
    width: 40%;
  }

  .photo-container {
    width: 60%;
  }

  .photo-container .displayed-photo {
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      width: 90%;
    }
  }

  .cv-displayed-photo img {
    height: 70%;
  }
}







