.deparment-contacts{
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;

}

.department-info{
  border: 4px solid $blue;
  justify-content: flex;

}

.department{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  margin: auto;
}
.department-title{
  text-align: end;
  p{
    font-size: 2rem;
    color: $yellow;
    margin: 2%;
  }
}
.employees-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.employee{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 200px;
}

.employee-headshot{
  display: flex;
  justify-content: center;
  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid $yellow;
  }
}

.employee-name{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 4px;
  color: $blue;
}

.employee-title{
  text-align: center;
  font-size: 16px;
  font-style: italic;
  margin-top: 4px;
}

.department-contact-holder{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5%;
  .info{
    p{
      font-size: 20px;
      color: $dark_grey;
    }
    i{
      font-size: 1.3rem;
      color: $yellow;
      margin-right: 4px;
    }
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .deparment-contacts {
    flex-direction: column;
  }

  .department-contact-holder {
    flex-wrap: wrap;
  }

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {

}


// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .department-contact-holder {
    flex-wrap: wrap;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .department-contact-holder {
    flex-wrap: wrap;
  }
}











