.gallery-conatiner{
  margin-top: 10%;
  height: 100vh;
  display: flex;
  background-color: white;
}
.display-box{
  background: white;
}


.normall-display {
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // img{
  //   width: 60%;
  //   margin: auto;
  // }
}

.major-display{
  height: 100%;
  width: 100%;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img{
    width: 60%;
    margin: auto;
  }
}
.vehicle-holder{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .box{
    margin: 5%;
  }
}


.hidden {
  display: none;
}
