.gallery-container{
  margin-top: 7%;
  height: 100vh;
  display: flex;
  background-color: white;
}
.display-box{
  background: white;
  width: 85vw;
}


.normall-display {
  display: flex;
  justify-content: center;
  svg{
    width: 60%;
  }
}

#body-work{
  background: url('https://res.cloudinary.com/durtng53m/image/upload/v1593522331/pexels-photo-4489707.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

#paint{
  background: url('https://res.cloudinary.com/durtng53m/image/upload/v1593522259/pexels-photo-4489775.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
#spare{
  background: url('https://res.cloudinary.com/durtng53m/image/upload/v1593522394/pexels-photo-3642618.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}


#sparesales{
  background: url('https://res.cloudinary.com/durtng53m/image/upload/v1593673569/pexels-photo-188777.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.major-display{
  height: 100%;
  width: 85vw;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  img{
    width: 80%;
    margin: auto;
  }
}
.vehicle-holder{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .box{
    margin: 5%;
    img{
      transition: ease 1s;
    }
    &:hover{
      cursor: pointer;
      img{
        transform: scale(1.2);
      }
    }
  }
}


.hidden {
  display: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .gallery-container{
    margin-top: 33%;
    height: 100%;
    min-height: 80vh;
    flex-direction: column;
  }
  .vehicle-holder {
    width: 117%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gallery-box{
    min-width: 200px !important;
    min-height: 200px !important;
  }
  .gallery-box-photo img{
    width: 190px !important;
  }


}

.big-title{
  text-align: center;
  color: $yellow;
  border: 8px solid $dark_blue;
  border-top: 0px;
  border-left: 0px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  p{
    font-size: 4rem;
  }
  img{
    width: 10%;
    height: 100%;
  }

}
// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {

}


// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .gallery-container{
    margin-top: 17%;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .gallery-container{
    margin-top: 16%;

  }

  .vehicle-holder .box {
    margin: 4%;
  }
}








