<style>
  .make-container {
    display: flex;
    justify-content: space-around;
  }

  .make-container p{
      margin: auto;
      font-size: 5rem;
  }
</style>



<div class="make-container" style="height: 100vh"><p><%= @make.name %></p> </div>
