<div id="afri_branch_modal" class="modal fade" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="modal-content">
        <div><h1>test</h1></div>
      </div>
    </div>
  </div>
</div>
