<div id="myModal_<%= carmodel.id %>" class="modal fade" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-body">
      <div class="modal-content">
        <div class="car-modal">


        </div>
      </div>
    </div>
  </div>
</div>
