<div class="about-conatiner">
  <div class="aboutus-banner">

  </div>

  <div class="aboutus-content">
    <div class="aboutus-content-title">
      <h1>We Move Africa</h1>
    </div>
    <div class="aboutus-content-introduction">
      <p>Africarriers Ltd's humble origins dates back to 1976 to a small showroom & garage in Dar es Salaam. Since then Africarriers has grown to become a pioneer of the automobile industry in Tanzania & we are currently one of the largest motor traders in East Africa. Over the years we have gone from strength to strength specialising in both retail & commercial vehicles. Currently we are part of <a href="http://africarriersgroup.com/" id="parentcompany">Africarriers Group</a> and represent the groups autombile cluster.<br>

      Today we are the sole representative for Eicher & Golden Dragon vehciles, which help promote the industrialisation of Tanzania & the overall region.</p>

      <p>Today the group’s activities include:</p>
      <ul>
        <a href="/automobile-catalogue">
        <li><b>Autombile trading</b>
        </a>
          <ul style="list-style-type:circle;">
            <li>Sole Distributor of Eicher Vehicles.</li>
            <li>Sole Distribuotr of Golde Dragon Vehicles.</li>
          </ul>
        </li>
        <a href="/logistics">
        <li><b>Logistics</b></a> - HDV leasing and subcontracting.</li>
        <a href="/real-estate"><li><b>Vehicle Repair</b></a> - Full repair works.</li>
        <a href="/manufacturing"><li><b>Vehicle Maintenance</b></a> - Engine & body works.</li>
      </ul>
    </div>


    <div class="aboutus-brands">
      <div class="aboutus-content-title">
        <h1 style="color: #AB964B">OUR BRANDS</h1>
      </div>

      <div class="brands-container">
        <div class="main-brands">
          <div class="main">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592390519/Screenshot_2020-06-17_at_14-removebg-preview_2.png" style="width: 80%">
          </div>
          <div class="main">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592391502/gdlogo-removebg-preview.png" >
          </div>
        </div>

        <div class="secondary-brands">
          <div class="sec">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592381014/toyota.png" alt="">
          </div>
          <div class="sec">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592392119/png-land-rover-logo-car-brand-business-land-rover-text-label-trademark-service-clipart-removebg-preview.png" alt="">
          </div>
          <div class="sec">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592392116/png-transparent-bmw-x1-car-bmw-i-bmw-3-series-bmw-emblem-trademark-logo-removebg-preview.png" alt="">
          </div>
          <div class="sec">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592391857/honda-vector-png-honda-silver-logo-vector-400.png" alt="">
          </div>
          <div class="sec">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592392110/862px-Mercedes-Logo-removebg-preview.png" alt="">
          </div>
          <div class="sec">
            <img src="https://res.cloudinary.com/durtng53m/image/upload/v1592391852/512px-Nissan-logo.svg.png" alt="">
          </div>

        </div>
      </div>
    </div>
</div>

































<script>
  var myIndex = 0;
  carousel();

  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
  }
</script>
