<div class="contact-section">
  <div class="title">
    <div class="secondary-title">
      <p>Get In Touch or Find a Department Bellow </p>
    </div>
    <div class="large-title">
      <p> WE'D LOVE TO HEAR FROM YOU</p>
    </div>
  </div>
  <div class="contact-content">
    <div class="contact-info">
      <div class="info">
        <p><i class="fa fa-phone"></i>+255671827262</p>
      </div>
      <div class="info">
        <p><i class="fas fa-envelope"></i>info@africarriers.co.tz</p>
      </div>
      <div class="info">
        <p><i class="fa fa-map-marker"></i>J.Nyerere Road, Dar es Salaam</p>
      </div>
    </div>
    <div class="contact-boxes-holder">
      <div class="contact-form-holder">
        <div class="contact-form">
          <form action="https://formspree.io/mleplren" method="POST" >

             <!--  <label>Feedback:</label>
             <textarea name="message"></textarea>
             <label>Your Name:</label>
             <input name="name" type="text" required/>
             <label>Your Email: </label>
             <input name="_replyto" type="email" required/> -->


            <label>
              Your Name:
              <input type="text" name="name" required/>
            </label>
            <label>
              Your phone:
              <input type="text" name="number">
            </label>
            <label>
              Your email:
              <input type="email" name="_replyto">
            </label>
            <label>
              Your message:
              <textarea name="message"></textarea>
            </label><br>

            <!-- your other form fields go here -->

            <button type="submit" class="form-button">Send</button>
          </form>
        </div>
      </div>

      <div class="contact-map">
        <div class="map-box">
          <div id="map"></div>

        </div>
      </div>
    </div>
    </div>
  </div>

  <div class="department-section" id="departments">
    <div class="title departemt" >
          <div class="secondary-title">
            <p>Our Departments</p>
          </div>
        </div>

    <div class="deparment-contacts">
      <div class="deparment-selection large-box selection-box" >
        <div class="department-titles large-title">
          <div class="departemt" onclick="displaySales()"><p id="salestitle"><i class="fas fa-chevron-right"></i>Sales</p></div>
          <div class="departemt" onclick="displayAfterSales()"><p><i class="fas fa-chevron-right"></i>After Sales</p></div>
          <div class="departemt" onclick="displayFinance()"><p><i class="fas fa-chevron-right"></i>Finance Department</p></div>
          <div class="departemt" onclick="displayInvestor()"><p><i class="fas fa-chevron-right"></i>Investor Relations</p></div>
        </div>
      </div>

      <div class="department-info extra-large-box">
        <div class="title departemt" style="display: block">
          <div class="secondary-title">
            <p>Find The Right Department</p>
          </div>
        </div>
        <div class="sales-department departemt" id="salesdept" style="display: none">
          <div class="department-title">
            <p>Sales Department</p>
          </div>

          <div class="department-employees-holder">
            <div class="employees-holder">

              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1593673942/WhatsApp_Image_2020-07-01_at_13-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>M. Ladha</p>
                </div>
                <div class="employee-title">
                  <p>Head of Sales</p>
                </div>
              </div>
              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </div>
                <div class="employee-name">
                  <p>M. Karia</p>
                </div>
                <div class="employee-title">
                  <p>Head of Sales</p>
                </div>
              </div>
              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </div>
                <div class="employee-name">
                  <p>V. Ngaile</p>
                </div>
                <div class="employee-title">
                  <p>Head of Business Development</p>
                </div>
              </div>
            </div>
          </div>

          <div class="department-contact-information">
            <div class="department-contact-holder">
              <div class="info">
                <p><i class="fa fa-phone"></i>+255671827262</p>
              </div>
              <div class="info">
                <p><i class="fas fa-envelope"></i>sales@africarriers.co.tz</p>
              </div>
              <div class="info">
                <p><i class="fa fa-map-marker"></i>J.Nyerere Road, Dar es Salaam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="aftersales-department departemt" id="aftersales" style="display: none">
          <div class="department-title">
            <p>After Sales Department</p>
          </div>

          <div class="department-employees-holder">
            <div class="employees-holder">

              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1593673910/WhatsApp_Image_2020-07-02_at_11-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>S. Acharjee</p>
                </div>
                <div class="employee-title">
                  <p>Head of After Sales</p>
                </div>
              </div>
              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1595846195/WhatsApp_Image_2020-07-17_at_12-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>P. Achint</p>
                </div>
                <div class="employee-title">
                  <p>Service Manager</p>
                </div>
              </div>
            </div>
          </div>

          <div class="department-contact-information">
            <div class="department-contact-holder">
              <div class="info">
                <p><i class="fa fa-phone"></i>+255671827262</p>
              </div>
              <div class="info">
                <p><i class="fas fa-envelope"></i>aftersales@africarriers.co.tz</p>
              </div>
              <div class="info">
                <p><i class="fa fa-map-marker"></i>J.Nyerere Road, Dar es Salaam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="financedep-department departemt" id="financedep" style="display: none">
          <div class="department-title">
            <p>Finance & Leasing Department</p>
          </div>

          <div class="department-employees-holder">
            <div class="employees-holder">

              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1593673944/WhatsApp_Image_2020-06-30_at_22-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>M. Telha Ismail</p>
                </div>
                <div class="employee-title">
                  <p>Head of Finance</p>
                </div>
              </div>
              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1594818270/IMG_3703-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>Grace</p>
                </div>
                <div class="employee-title">
                  <p>Credit and Receivables</p>
                </div>
              </div>
              <!-- <div class="employee">
                <div class="employee-headshot">
                  <img src="https://images.pexels.com/photos/937481/pexels-photo-937481.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </div>
                <div class="employee-name">
                  <p>M. Ladha</p>
                </div>
                <div class="employee-title">
                  <p>Head of Sales</p>
                </div>
              </div> -->
            </div>
          </div>

          <div class="department-contact-information">
            <div class="department-contact-holder">
              <div class="info">
                <p><i class="fa fa-phone"></i>+255671827262</p>
              </div>
              <div class="info">
                <p><i class="fas fa-envelope"></i>finance@africarriers.co.tz</p>
              </div>
              <div class="info">
                <p><i class="fa fa-map-marker"></i>J.Nyerere Road, Dar es Salaam</p>
              </div>
            </div>
          </div>
        </div>
        <div class="investor-department departemt" id="investor" style="display: none">
          <div class="department-title">
            <p>Investor Relations Department</p>
          </div>

          <div class="department-employees-holder">
            <div class="employees-holder">

              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1595846649/unnamed__6_-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>F.H.N Rashid</p>
                </div>
                <div class="employee-title">
                  <p>Managing Director</p>
                </div>
              </div>
              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1595846674/WhatsApp_Image_2020-07-09_at_08-removebg-preview.png" alt="">
                </div>
                <div class="employee-name">
                  <p>M. Rashid</p>
                </div>
                <div class="employee-title">
                  <p>Director of Finance</p>
                </div>
              </div>
              <div class="employee">
                <div class="employee-headshot">
                  <img src="https://res.cloudinary.com/durtng53m/image/upload/v1595846759/unnamed__7_-removebg-preview_1.png" alt="">
                </div>
                <div class="employee-name">
                  <p>M. Raza Pirbhai</p>
                </div>
                <div class="employee-title">
                  <p>C.E.O</p>
                </div>
              </div>
            </div>
          </div>

          <div class="department-contact-information">
            <div class="department-contact-holder">
              <div class="info">
                <p><i class="fa fa-phone"></i>+255671827262</p>
              </div>
              <div class="info">
                <p><i class="fas fa-envelope"></i>investorinquires@africarriers.co.tz</p>
              </div>
              <div class="info">
                <p><i class="fa fa-map-marker"></i>J.Nyerere Road, Dar es Salaam</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  var sum = document.getElementsByClassName('departemt');
  var departments = Array.prototype.slice.call(sum);
  var sales = document.getElementById("salesdept");
  var aftersales = document.getElementById("aftersales");
  var financedep = document.getElementById("financedep");
  var investor = document.getElementById("investor");
  var salestitle = document.getElementById("salestitle");

  // console.log(departments)

  function displaySales() {
    departments.forEach(myFunction);
    function myFunction(item) {
      console.log(item)
      if (item.style.display === "block") {
        item.style.display = "none";
      }

    }
    if (sales.style.display === "block") {
      sales.style.display = "none";
    } else {
      sales.style.display = "block";
    }

  }

  function displayAfterSales() {
    departments.forEach(myFunction);
    function myFunction(item) {
      console.log(item)
      if (item.style.display === "block") {
        item.style.display = "none";
      }

    }
    if (aftersales.style.display === "block") {
      aftersales.style.display = "none";
    } else {
      aftersales.style.display = "block";
    }

  }

  function displayFinance() {
    departments.forEach(myFunction);
    function myFunction(item) {
      console.log(item)
      if (item.style.display === "block") {
        item.style.display = "none";
      }

    }
    if (financedep.style.display === "block") {
      financedep.style.display = "none";
    } else {
      financedep.style.display = "block";
    }

  }

  function displayInvestor() {
    departments.forEach(myFunction);
    function myFunction(item) {
      console.log(item)
      if (item.style.display === "block") {
        item.style.display = "none";
      }

    }
    if (investor.style.display === "block") {
      investor.style.display = "none";
    } else {
      investor.style.display = "block";
    }

  }
</script>




<script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -6.85422889, lng: 39.22387592};


  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?AIzaSyDOCOnKgVj_909zHG4J8Neqg2kqrfPTUY0&callback=initMap">
</script>
