<style>
  .dashboard{
    height: 100vh;
    display: flex;
    justify-content: space-around;
  }

  .link-box{
    margin: auto;
  }

</style>

<div class="dashboard">

  <div class="link-box">
   <%= link_to "New Model", new_carmodel_path %>
  </div>

</div>
