<div class="box" style="height: 100vh; padding-top: 30%">

  <% @dragon = Make.find(30)  %>
  <% @vehicles = Carmodel.where(make_id: @dragon.id).each do |vehicle| %>
    <div class=" box vehicle page-box gallery-box " >
      <div class="vehicle-title" >
          <h1><%= vehicle.name %></h1>
      </div>
      <div class="vehicle-photo gallery-box-photo">
        <%= cl_image_tag vehicle.make.logo %>
      </div>
   </div>
  <% end %>
    <%# Carmodel.where(Make.where(name = "Golden Dragon")) %>
</div>
