body{
  font-family: 'landasans', sans-serif;
}
// colours

$dark_blue: #253044;
$medium_blue: #2F4668;
$blue: #274972;
$light_blue: #375B89;
$yellow: #AB964B;
$light_yellow: #C2B689;

.banner{
   background-image: url("https://res.cloudinary.com/durtng53m/image/upload/v1592223711/8-Stunning-HD-Tesla-Wallpapers-4_4d470f76dc99e18ad75087b1b8410ea9.png");
  background-size: cover;
  height: 90vh;
  color: #eee;
  .tag-line{
  display: flex;
  justify-content: center;
  padding: 15%;
  p{
    font-size: 3rem;
  }
  svg{
    height: 70px;
  }
}
  .content-information{
    display: flex;
    justify-content: space-between;

  }

  .social-holder{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    .icons{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: auto;
      .icon {
        margin: 4%;
        svg{
        height: 30px;
        width: 30px;
        fill: $yellow;
          &:hover{
            fill: $light_yellow;
            box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.62);

          }
        }
      }
    }
  }
}

.career-banner{
  background-image: url("https://res.cloudinary.com/durtng53m/image/upload/v1593500922/Screenshot_2020-06-30_at_11.07.17.png");
  background-size: cover;
  height: 85vh;
  color: #eee;
  .banner-title{
    display: flex;
    justify-content: center;
    padding: 15%;
    p{
      font-size: 5rem;
      color: $yellow;
      font-weight: bold;
      margin-top: 5%;
    }
  }
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .banner{
    height: 100vh;
   .tag-line {
    padding: 10%;
    padding-top: 60%;
      p {
        font-size: 1.8rem;
      }
    }
    .content-information {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .medium{
    margin: 20%;
    height: 150px;
  }

  .direction{
    margin: 6%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 576px) {
  .banner{
    height: 100vh;
   .tag-line p {
      font-size: 1.8rem;
    }
  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .banner{
    background-size: cover;
    height: 100vh;
    color: #eee;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tag-line {
      display: flex;
      justify-content: center;
      padding: 20%;
      margin-top: 35%;
    }
    .content-information {
      display: flex;
      justify-content: space-between;
      /* margin: 5%; */
      padding: 5%;
    }

  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {
  .banner{
    background-size: cover;
    height: 98vh;
    color: #eee;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .tag-line {
      display: flex;
      justify-content: center;
      padding: 25%;
    }
    .content-information {
      display: flex;
      justify-content: space-between;
      /* margin: 5%; */
      padding: 5%;
    }

  }
}

