.search-field{
  display: flex;
  justify-content: center;
}

#search-form{
  width: 50%;
  display: flex;
}

#input{
  border-radius: 10px 0px 0px 10px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .search-field{
    margin-bottom: 10%;
  }
  #search-form {
    width: 80%;
  }

  .search-button {
    width: 45%;
  }
}
