.services-section{
  height: 100vh;
  background: #F2F2F2;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.history-section{
  background: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.locations-section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-section{
  background-image: url('https://res.cloudinary.com/durtng53m/image/upload/v1592374147/worldmapdotted1.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize th */

}

.jobs-section{
  height: 80vh;
  margin: 2%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .services-section {
    height: 105vh;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .locations-section {
    height: 120vh;
    margin-top: 4%;
  }

  .history-section {
    margin-bottom: 15%;
  }

  .contact-section{
    height: 150vh;
  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .services-section {
    height: 65vh;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .history-section {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {

  .services-section {
    height: 65vh;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .history-section {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .locations-section{
    height: 65vh;

  }
}
