.product-category{
  height: 100%;
}

.services-section{
  height: 100%;
  background: #F2F2F2;
  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.history-section{
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.locations-section{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-section{
  background-image: url('https://res.cloudinary.com/durtng53m/image/upload/v1592374147/worldmapdotted1.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize th */
  margin-top: 7%;
  height: 100%;

}

.values-section{
  background: $white;
}

.jobs-section{
  height: 100%;
  margin: 2%;
  background-color: #F4F4F4;
}

.form-section{
  height: 100%;
  background-image: url('https://res.cloudinary.com/durtng53m/image/upload/v1592374147/worldmapdotted1.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize th */
}

.department-section{
  height: 80vh;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .services-section {
    height: 105vh;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .locations-section {
    height: 120vh;
    margin-top: 4%;
  }

  .history-section {
    margin-bottom: 15%;
  }

  .contact-section{
    height: 150vh;
    margin-top: 30%;

  }

  .jobs-section {
    height: 130vh;
  }
  .form-section {
    height: 130vh;
  }
  .department-section {
    height: 160vh;
  }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 992px) and(min-width: 768px) {
  .services-section {
    height: 65vh;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .history-section {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .jobs-section{
    height: 90vh;
  }
  .form-section {
    height: 60vh;
  }
  .department-section {
    height: 55vh;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 1200px) and (min-width: 992px) {

  .services-section {
    height: 100%;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .history-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .locations-section{
    height: 100%;

  }

  .form-section {
    height: 50vh;
  }
}
